<div class="product">
    <div class="product__wrapper">
        <div class="product__left-sections">
            <a routerLink='/store/product/animals' class="product__blockInLeft">
                <div class="blockInLeft__image">
                    <img src="../../../assets/image/product/linkToAnimals.jpg" alt="linkToAnimals">
                </div>
                <div class="blockInLeft__text"> In this sections you can buy various animals. We cooperate with farms, nurseries and shelters around the world. Here you can find a pet from the hamster to the big beautiful horse.Lovers of exoticism will find in us many interesting species
                    brought from South America, India and the ocean.

                </div>
            </a>
        </div>
        <div class="product__right-sections">
            <a routerLink='C/product/for-pets' class="product__blockInRight">
                <div class="blockInRight__image">
                    <img src="../../../assets/image/product/linkToForPets.png" alt="linkToForPets">
                </div>
                <div class="blockInRight__text">
                    In this sections you can find a product for your pets or another animals. These are sterns, medicines, clothes, accessories and much more.
                </div>
            </a>
        </div>
    </div>
</div>