<div class="about">
    <h2 class="about__title">WHY CHOOSE A PAN DOG?</h2>
    <img src="../../../assets/image/main/orel.jpg" class="img-responsive" alt="" />
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
        has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions of Lorem Ipsum. Proin suscipit metus in dictum pretium. Morbi odio ex, vestibulum a nulla non, accumsan fermentum mi. In ultricies ut augue sed egestas. Nam pretium libero eget ornare
        pharetra. Nam ut consequat enim, eget ornare ex. Cras volutpat egestas suscipit. Fusce iaculis egestas nisi vehicula placerat.Nulla mattis, nibh et rhoncus congue, lacus augue consequat est, at porta tellus purus id odio. Nulla volutpat tincidunt
        posuere. Nullam dignissim mi elit. Integer efficitur accumsan justo et sagittis. Morbi ut luctus odio. Donec a nisl condimentum, mattis orci sed, finibus ligula. </p>

    <p>Vivamus dignissim aliquet metus in pretium. Aliquam at justo convallis, rutrum nibh ut, vulputate purus. Suspendisse viverra felis sed diam efficitur egestas. Maecenas gravida nunc quis diam tincidunt posuere. Vestibulum congue, nibh a fermentum sollicitudin,
        massa massa tempus risus, nec elementum orci orci ac risus. In ultricies velit id feugiat semper. Proin eu magna odio. Praesent elementum egestas nibh nec egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Ut ut nunc eu lacus maximus fringilla. Nullam laoreet leo ac mi fermentum, vel dapibus tellus eleifend.</p>

    <div class="seerev__wrapper">
        <a routerLink='/store/about/reviews' class="seerev__button">Reviews about Pan Dog</a>
    </div>
</div>
<div class="clearfix"></div>

<!-- ************************************************************** -->
<section class="main ">
    <div class="main__wrapper ">

        <div class="main__whyWe ">
            <div class="title ">
                Our advantages
            </div>
            <div class="sub-title ">
                Why it is worth ordering animals in our company:
            </div>
            <div class="whyWe__block ">
                <div class="row-inner ">
                    <div class="colum ">
                        <div class="icon ">
                            <img src="../../../assets/image/main/products.png ">
                        </div>
                        <div class="text ">
                            <div class="right__title ">Large selection of animals</div>
                            <div class="right__text ">
                                Here you will find a wide variety of animal species ranging from pets to exotic species.
                            </div>
                        </div>
                    </div>
                    <div class="colum last ">
                        <div class="icon ">
                            <img src="../../../assets/image/main/delivery.png ">
                        </div>
                        <div class="text ">
                            <div class="right__title ">Fast delivery</div>
                            <div class="right__text ">
                                Thanks to the well-coordinated activity of our logisticians, we carry out the delivery of animals around the world carefully and on time.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-inner ">
                    <div class="colum ">
                        <div class="icon ">
                            <img src="../../../assets/image/main/dollar.png ">
                        </div>
                        <div class="text ">
                            <div class="right__title ">Available prices</div>
                            <div class="right__text ">
                                We strive for a fair and beneficial evaluation of the value of our goods, while the quality of the product is always impeccable
                            </div>
                        </div>
                    </div>

                    <div class="colum last ">
                        <div class="icon ">
                            <img src="../../../assets/image/main/personal.png ">
                        </div>
                        <div class="text ">
                            <div class="right__title ">Competent specialists</div>
                            <div class="right__text ">
                                Our managers are polite, attentive and perfectly aware of the range of products, as well as all the nuances associated with its acquisition.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__br ">
            <div class="br__image "></div>
        </div>
    </div>
</section>

<!-- ************************************************************ -->

<section class="main__our-animals ">
    <div class="main__wrapper ">
        <div class="our-animals ">

            <div class="our-animals__block ">

                <div class="our-animals__left-text ">
                    We cooperate with more than a hundred farms around the world. The majority of these farms are located in Ukraine and Poland, which covers the purchase for residents of Eastern Europe. Similarly, solar and green farms in Australia and New Zealand provide
                    products to the inhabitants of the ocean and Asia. In the presence of such species of rural animals: chickens, broilers, rabbits, geese, ducks, turkeys, cows, goats, sheep, sheep, etc.
                </div>
                <div class="our-animals__right-image ">
                    <img src="../../../assets/image/main/cow.png ">
                </div>
                <div class="clearfix "></div>
            </div>

            <div class="our-animals__block ">

                <div class="our-animals__left-image ">
                    <img src="../../../assets/image/main/pitomnik.png ">
                </div>

                <div class="our-animals__right-text ">
                    We cooperate with nurseries in different countries. There are grown both standard kinds of animals, and exotic ones. Our Clients are some zoos and eco-parks in Europe. Trade in such goods is conducted: sheep, wolves, foxes, deer, exotic species of birds
                    and parrots, more than 50 species of fish, snakes, reptiles and much more.
                </div>

                <div class="clearfix "></div>
            </div>

            <div class="our-animals__block ">

                <div class="our-animals__left-text ">
                    You can buy animals from shelters. The best shelters in Eastern Europe have entered into cooperation with us. They will find many kinds of dogs, cats, ferrets, chinchillas, rabbits and so on. All animals have health certificates. They wait for the owners
                    to come for them.
                </div>
                <div class="our-animals__right-image ">
                    <img src="../../../assets/image/main/dogpr.jpg ">
                </div>
                <div class="clearfix "></div>
            </div>

            <div class="our-animals__block ">

                <div class="our-animals__left-image ">
                    <img src="../../../assets/image/main/rancho.jpg ">
                </div>
                <div class="our-animals__right-text ">
                    For the first time you can buy goods from Mexican ranches. Several ranches provide a choice of such goods: cattle meat and meat and dairy direction. This is an extensive traditional cattle-breeding for the region. Breed mainly a variety of wild bull zebu.
                    Also significant is the breeding of mules and donkeys, pig breeding, sheep breeding and the maintenance of goats. Horse breeding is a special branch. </div>
                <div class="clearfix "></div>
            </div>

            <div class="our-animals__block ">

                <div class="our-animals__left-text ">
                    Zoos can purchase animals that live in our own preserve in South America. Wild fish, aligators, varieties of primates, birds, snakes, reptiles, mammals and much more. </div>
                <div class="our-animals__right-image ">
                    <img src="../../../assets/image/main/ownzap.png ">
                </div>
                <div class="clearfix "></div>
            </div>
        </div>
    </div>
</section>

<!-- ***************************************************************** -->


<section class="main__payment ">
    <div class="payment__wrapper ">
        <div class="payment ">
            <h1>Payment Methods</h1>
            <h5> For your convenience, we accept the following payment methods:
            </h5>
            <div class="payment__colum ">
                <div class="payment__image ">
                    <div class="credit "></div>
                </div>
                <div class="payment__text ">
                    WITH CREDIT CARD OR BANK TRANSFER
                </div>
            </div>

            <div class="payment__colum ">
                <div class="payment__image ">
                    <div class="cash "></div>
                </div>
                <div class="payment__text ">
                    CASH
                </div>
            </div>

            <div class="payment__colum ">
                <div class="payment__image ">
                    <div class="e-money "></div>
                </div>
                <div class="payment__text ">
                    ELECTRONIC MONEY
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***************************************************************** -->

<!-- ********************************************* -->
<div class="wrapper ">
    <h1>What says clients about us</h1>

    <div class="content-slider ">
        <div class="slider ">
            <div class="mask ">
                <ul>
                    <li class="anim1 ">
                        <div class="quote ">This is amazing service. Delivery was very fast. I really glad to get a dog!!!!</div>
                        <div class="source ">- Ivana</div>
                    </li>
                    <li class="anim2 ">
                        <div class="quote ">I bought a cat last month. Cost is cool=)) .</div>
                        <div class="source ">- Rick</div>
                    </li>
                    <li class="anim3 ">
                        <div class="quote ">Danke für dieses Service. Das ist fantastische Idee. Ich habe die Hausaffe gekauft. Ich empfehle mich PanDOG!!!!!
                        </div>
                        <div class="source ">- Rudolf</div>
                    </li>
                    <li class="anim4 ">
                        <div class="quote ">Це дійсно чудовий сайт!!! Заказав декоративного варана з Америки. Він їхав всього два тижня. Чудова пунктуальніть. Респект ПанДог!!</div>
                        <div class="source ">- Vasyl</div>
                    </li>
                    <li class="anim5 ">
                        <div class="quote ">I love PanDog!!!!!!!!.</div>
                        <div class="source ">- Alia</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--****************************************************-->
<section class="main__sponsors ">
    <div class="sponsors__wrapper ">
        <h3>Thanks to our sponsors and partners</h3>
        <div class="slider ">
            <div class="slide-track ">
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/1.jpg " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/2.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/3.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/4.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/5.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/6.jpg " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/7.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/8.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/9.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/10.png " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/11.png " width="100px " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/12.jpg " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/13.jpg " alt=" " />
                </div>
                <div class="slide ">
                    <img src="../../../assets/image/main/sponsors/14.svg " alt=" " />
                </div>
            </div>
        </div>
    </div>
</section>
<!--**************************************************** -->