$white: #ffffff;
$count: #b12704;
// fonts
$basic-font: 18px 'HelveticaNeueCyrLight',
sans-serif;
$basic-title-font: 20px 'HelveticaNeueCyrMedium',
sans-serif;
$nav-font: 18px 'VarelaRound-Regular';
$lora: 30px 'Lora-Bold';
$underdog: 16px 'Underdog',
sans-serif;
////
$ruslandisplay: 'RuslanDisplay';
$marckscript: 'MarckScript',
cursive;
$phone:400px;
$phone-wide:480px;
$phablet: 560px;
$tablet-small:640px;
$tablet:768px;
$tablet-wide:1024px;
$desktop:1248px;
$desktop-wide:1440px;