<div class="site-footer__content">
    <div class="footer__image">
        <img src="./assets/image/footer/footerimg.jpg" alt="footerimage">
    </div>

    <div class="site-wrapper">
        <div class="footer">
            <div class="footer__phrase">
                <div class="phrase__text"> {{footerPhrase}}
                </div>

            </div>

            <div class="footer-writeUs">
                <div class="footer-writeUs__wrapper">
                    <div class="footer-writeUs__upperBlock">
                        <div class="footer-writeUs__mText">
                            Для связи с нами:
                        </div>
                        <div class="footer-writeUs__facebook"></div>
                        <div class="footer-writeUs__instagram"></div>
                        <div class="footer-writeUs__telegram"></div>
                    </div>
                    <div class="footer-writeUs__lowerBlock"></div>
                </div>

            </div>
        </div>