<section class='pandogplus'>
    <div class="pandogplus__wrapper">
        <h1 class="pandogplus__title">Pan Dog Services</h1>

        <h5 class="pandogplus__text">In this section, you are invited to communicate with other users.</h5>

        <div class="pandogplus__forum">
            <a class="forum__link" routerLink='/store/forum'>Forum</a>
            <div class="forum__info">
                <img src="../../../assets/image/pandogpl/forum.jpg">
                <div class="forum__desc">
                    <p>
                        The forum will give you the opportunity to discuss various topics with other users of the site. You can create topics, or write messages already in the created topics.
                    </p>
                </div>
            </div>
        </div>

        <div class="pandogplus__forum pandogplus__chat">
            <a class="forum__link">Chat</a>
            <div class="forum__info">
                <img src="../../../assets/image/pandogpl/chat.jpg">
                <div class="forum__desc">
                    <p>
                        Chat allows you to enter into a general conversation with registered users on the site. You can discuss both the product and other topics.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>