<div class="rev">

    <h2 class="about__title">What write about Pan Dog</h2>

    <div class="wrcomment">
        <h4 class="wrcomment__header">Write your review </h4>
        <div class="wrcomment__textarea">
            <textarea placeholder="Message" required=""></textarea>
        </div>
        <div class="wrcomment__submit">
            <input type="submit" />
        </div>
    </div>

    <div class="comments1">
        <h4>COMMENTS</h4>
        <div class="comments-main">
            <div class="col-md-3 cmts-main-left">
                <img src="images/avatar.jpg" alt="">
            </div>

            <div class="col-md-9 cmts-main-right">
                <h5>TOM BROWN</h5>
                <p>Vivamus congue turpis in laoreet sem nec ultrices. Fusce blandit nunc vehicula massa vehicula tincidunt. Nam venenatis cursus urna sed gravida. Ut tincidunt elit ut quam malesuada consequat. Sed semper purus sit amet lorem elementum faucibus.</p>
                <div class="cmts">
                    <div class="col-md-6 cmnts-left">
                        <p>On April 14, 2014, 18:01</p>
                    </div>
                    <div class="col-md-6 cmnts-right">
                        <a href="#">Reply</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="comments-main">
            <div class="col-md-3 cmts-main-left">
                <img src="images/avatar.jpg" alt="">
            </div>
            <div class="col-md-9 cmts-main-right">
                <h5>HENRY JOE</h5>
                <p>Vivamus congue turpis in laoreet sem nec ultrices. Fusce blandit nunc vehicula massa vehicula tincidunt. Nam venenatis cursus urna sed gravida. Ut tincidunt elit ut quam malesuada consequat. Sed semper purus sit amet lorem elementum faucibus.</p>
                <div class="cmts">
                    <div class="col-md-6 cmnts-left">
                        <p>On April 14, 2014, 18:01</p>
                    </div>
                    <div class="col-md-6 cmnts-right">
                        <a href="#">Reply</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>